services:
  redis:
    image: redis
    restart: always
    env_file:
      - .env
    ports:
      - ${REDIS_PORT:-6379}:6379
    volumes:
      - ./redis-data:/data
    networks:
      - osrs-npc-scraper-network
    command: redis-server --appendonly yes --appendfsync everysec

networks:
  osrs-npc-scraper-network:
    driver: bridge